global
	log /dev/log    local0
   	log /dev/log    local1 notice
	user haproxy
	group haproxy
	maxconn 50000
	tune.ssl.default-dh-param 2048
	daemon

defaults
	log     global
	mode    http
	option  httplog
	option httpclose
	option  dontlognull
	maxconn 50000
	retries 3
	option redispatch
        timeout connect 5000
        timeout client  50000
        timeout server  50000
        #errorfile 400 /etc/haproxy/errors/400.http
        #errorfile 403 /etc/haproxy/errors/403.http
        #errorfile 408 /etc/haproxy/errors/408.http
        #errorfile 500 /etc/haproxy/errors/500.http
        #errorfile 502 /etc/haproxy/errors/502.http
        #errorfile 503 /etc/haproxy/errors/503.http
        #errorfile 504 /etc/haproxy/errors/504.http

listen	node1-tcp
        bind *:8090
        #bind *:8092
        mode tcp
        option tcplog
        balance roundrobin
	timeout client  10m
        timeout connect 2m
        timeout server 10m   
        server erm1a {{ backend_server_ip }}:8090
listen  node1-tcp-concox
        bind *:8091
        mode tcp
        option tcplog
        balance roundrobin
        server concox1a {{ backend_server_ip }}:8091

frontend node1-https
	bind {{ proxy_server_ip }}:443 ssl crt /etc/ssl/carot-17-19.pem crt /etc/ssl/smlsaarthi_all-17-18.pem
	mode http 
	maxconn 50000
	option httpclose
        option forwardfor
	reqadd X-Forwarded-Proto:\ https
 	acl hondaadmin  path_beg /admin_portal_honda 
	acl admin  path_beg /admin_portal/
	acl scheduler  path_beg /scheduler
	acl fleetapi  hdr_dom(host) -i qa3fleet.carot.com
	acl api  path_beg /api
	acl v2  path_beg /v2
	acl hondaadmin  path_beg /dealer_portal_honda
	acl promo  path_beg /promotions
	acl dtpush  path_beg /pushdata
	acl carotfleet  path_beg /fleet
	acl sml  hdr_dom(host) -i qa3.smlsaarthi.com
#	acl promo  hdr_dom(host) -i promo.carot.com
	use_backend fleetapi-backend if fleetapi api
	use_backend api-backend if api
    	use_backend admin-backend if admin
    	use_backend scheduler-backend if scheduler
    	use_backend hadmin-dealer-backend if hondaadmin
    	use_backend promo-backend if promo
	use_backend dtpush-backend if dtpush
	use_backend v2-backend if v2 	
	use_backend carot-fleet-backend if carotfleet
	use_backend sml-backend if sml
    	default_backend web

frontend node1-http
	bind {{ proxy_server_ip }}:80
	mode http
	redirect scheme https code 301 if !{ ssl_fc }

backend sml-backend
        mode http
        fullconn 50000
        option httpclose
        option forwardfor
        balance roundrobin
        server stage-sml1 {{ proxy_server_ip }}:8181 check
        server stage-sml2 {{ proxy_server_ip }}:8181 check

backend carot-fleet-backend
        option httpclose
        balance roundrobin
        option http-server-close
        cookie JSESSIONID prefix
        server carot-fleet1 {{ proxy_server_ip }}:8181 cookie A check
#        server carot-fleet2 10.10.50.4:8181 cookie B check

backend dtpush-backend
        balance roundrobin
        option http-server-close
        cookie JSESSIONID prefix
        server das1 {{ backend_server_ip }}:8080  cookie A check
        server das2 {{ backend_server_ip }}:8080  cookie B check

backend admin-backend
	option httpclose
	balance roundrobin
	timeout http-request 180
        option http-server-close
        cookie JSESSIONID prefix
	server admin-sch1 {{ proxy_server_ip }}:8080 cookie A check 
	server admin-sch2 {{ proxy_server_ip }}:8080 cookie B check

backend scheduler-backend
        option httpclose
        balance roundrobin
        option http-server-close
        cookie JSESSIONID prefix
        server admin-sch1 {{ proxy_server_ip }}:8080 cookie A check
       
backend web
	balance roundrobin
	option http-server-close
        cookie JSESSIONID prefix
	server web1 {{ proxy_server_ip }}:8080  cookie A check
	server web2 {{ proxy_server_ip }}:8080  cookie B check

backend api-backend
	option http-server-close
	balance roundrobin
	server api1 {{ proxy_server_ip }}:8080 check 
	server api2 {{ proxy_server_ip }}:8080 check 

backend fleetapi-backend
	timeout server  60m
        option http-server-close
        balance roundrobin
        server fleetapi1 {{ proxy_server_ip }}:8080 check
#        server fleetapi2 10.10.50.4:8080 check

backend v2-backend
	timeout server  240m
        option http-server-close
        balance roundrobin
        server fleet1-v2 10.10.50.29:8282 check
        server fleet2-v2 {{ proxy_server_ip }}:8282 check backup
#       option httpclose
#       balance roundrobin
#       server server-v2 10.10.50.19:8080 check


backend hadmin-dealer-backend
	option httpclose
	balance roundrobin
        option http-server-close
        cookie JSESSIONID prefix
	server hadmindealer1 {{ proxy_server_ip }}:8080 cookie A check
	server hadmindealer2 {{ proxy_server_ip }}:8080 cookie B check

backend promo-backend
        option httpclose
        balance roundrobin
        option http-server-close
        cookie JSESSIONID prefix
        server promo1a {{ proxy_server_ip }}:80 cookie A check
        server promo1b {{ proxy_server_ip }}:80 cookie B check

listen stats {{ proxy_server_ip }}:1936
	stats enable
	stats uri /
	stats hide-version
	stats auth admin:admin123
