# mongod.conf

# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

# Where and how to store data.
storage:
  dbPath: {{ path_database }}
  journal:
    enabled: true
  engine: wiredTiger
#  mmapv1:
#  wiredTiger:

# where to write logging data.
systemLog:
  destination: file
  logAppend: true
  path: {{ log_path }}

# network interfaces
net:
  port: 27017
  bindIp: {{ bind_Ip }}


#processManagement:

security:
 keyFile: {{ path_to_keyFile }}
 authorization: "enabled"
#operationProfiling:

#replication:
# replSetName: prod-repl
#sharding:

## Enterprise-Only Options:

#auditLog:

#snmp:

